body { 
background-color: #4a7098;
color: #d5e6e8;
font-family: arial, helvetica, sans-serif;
}
h1 {
text-align:center;
color: #d5e6e8;
}
h2 {
text-align:center;
}
h3{
color: black;
}
h4{
color: black;
}
img {
max-width: 220px;
float: left;
padding: 30px;
}
